[submodule "proxy/lib/forge-std"]
	path = proxy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "proxy/lib/openzeppelin-contracts"]
	path = proxy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "smart-contract/lib/forge-std"]
	path = smart-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smart-contract/lib/openzeppelin-contracts"]
	path = smart-contract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
